<h1><%= @student.name %></h1>
<ul>
  <% @student.grades.each do |grade|%>
    <li><%= grade.assignment.name %>:       <%= grade.score %></li>
  <% end %>
</ul>
<br>

<%= link_to 'New Student', new_student_path %>
